<ng-template #loading>
    <h4>{{ 'COMMON.LOADING' | translate }}</h4>
</ng-template>

<ng-container *ngIf="form != null; else loading">
    <app-alert-banner *ngIf="!otpEnabled" storageKey="hideOtpNudge" status="basic"
        [title]="'SECURITY.OTP_NUDGE_TITLE' | translate" [message]="'SECURITY.OTP_NUDGE_TEXT' | translate">
    </app-alert-banner>
    <form [formGroup]="form">
        <nb-card>
            <nb-card-header>{{ 'SETTINGS.WIFI_SETTINGS' | translate }}</nb-card-header>
            <nb-card-body>
                <div class="form-row">
                    <label for="hostname" class="form-label">{{ 'SETTINGS.HOSTNAME' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <input nbInput id="hostname" type="text" formControlName="hostname" />
                    </div>
                </div>
                <div class="form-row">
                    <label for="ssid" class="form-label">{{ 'SETTINGS.WIFI_SSID' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <input nbInput id="ssid" type="text" formControlName="ssid" />
                    </div>
                </div>
                <div class="form-row">
                    <label for="wifiPass" class="form-label">{{ 'SETTINGS.WIFI_PASSWORD' | translate }}:</label>
                    <div class="input-with-icon">
                        <input nbInput id="wifiPass" formControlName="wifiPass"
                            [type]="showWifiPassword ? 'text' : 'password'"
                            [placeholder]="'SETTINGS.WIFI_PASSWORD_PLACEHOLDER' | translate" />
                        <button nbButton ghost size="small" (click)="toggleWifiPasswordVisibility()" type="button"
                            class="icon-button">
                            <nb-icon [icon]="showWifiPassword ? 'eye-off-outline' : 'eye-outline'" pack="eva"></nb-icon>
                        </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
            <div class="d-flex align-items-center justify-content-between">
                <div>{{ 'SETTINGS.STRATUM' | translate }}</div>

                <button nbButton ghost size="small" type="button"
                        (click)="swapPools()"
                        nbTooltip="{{ 'SETTINGS.SWAP_POOLS' | translate }}">
                <nb-icon icon="swap-outline" pack="eva"></nb-icon>
                </button>
            </div>
            </nb-card-header>
            <nb-card-body>

                <div class="form-row">
                    <label class="form-label">{{ 'SETTINGS.POOL_MODE' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <nb-select formControlName="poolMode">
                            <nb-option [value]="0">
                                {{ 'SETTINGS.POOL_MODE_FAILOVER' | translate }}
                            </nb-option>
                            <nb-option [value]="1">
                                {{ 'SETTINGS.POOL_MODE_DUAL' | translate }}
                            </nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-row" *ngIf="form.controls['poolMode'].value === 1">
                    <label class="form-label">
                        {{ 'SETTINGS.POOL_BALANCE' | translate }}<br />
                        ({{ form.controls['poolBalance'].value }}% /
                        {{ 100 - form.controls['poolBalance'].value }}%)
                    </label>
                    <div class="form-control-wrapper">
                        <div class="progress-wrap">
                            <input type="range" class="progress" formControlName="poolBalance" min="1" max="99"
                                step="1" />
                            <div class="progress-foreground" style="width: 100%;">
                            </div>
                        </div>
                        <small class="text-hint">
                            {{ 'SETTINGS.POOL_BALANCE_HINT' | translate }}
                        </small>
                    </div>
                </div>
                <div class="form-row">
                    <nb-checkbox formControlName="stratum_keep">{{ 'MISC.STRATUM_KEEPALIVE' | translate }}</nb-checkbox>
                </div>

            </nb-card-body>

            <nb-tabset>
                <nb-tab [tabTitle]="poolTabHeader(0)">
                    <nb-card-body>
                        <div class="form-row">
                            <label class="form-label">{{ 'SETTINGS.STRATUM_PROTOCOL' | translate }}:</label>
                            <div class="form-control-wrapper">
                                <nb-select formControlName="stratumProtocol">
                                    <nb-option [value]="0">{{ 'SETTINGS.STRATUM_V1' | translate }}</nb-option>
                                    <nb-option [value]="1">{{ 'SETTINGS.STRATUM_V2' | translate }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="stratumURL" class="form-label">{{ 'SETTINGS.STRATUM_HOST' | translate
                                }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="stratumURL" type="text" formControlName="stratumURL" /><br />
                                <small>{{ 'SETTINGS.STRATUM_HOST_HINT' | translate }}</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="stratumPort" class="form-label">{{ 'SETTINGS.STRATUM_PORT' | translate
                                }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="stratumPort" formControlName="stratumPort" type="number" />
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="stratumUser" class="form-label">{{ 'SETTINGS.STRATUM_USER' | translate
                                }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="stratumUser" formControlName="stratumUser" type="text" />
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="stratumPassword" class="form-label">{{ 'SETTINGS.STRATUM_PASSWORD' | translate
                                }}:</label>
                            <div class="input-with-icon">
                                <input nbInput id="stratumPassword" formControlName="stratumPassword"
                                    [type]="showStratumPassword ? 'text' : 'password'"
                                    placeholder="Enter stratum password" />
                                <button nbButton ghost (click)="toggleStratumPasswordVisibility()" type="button"
                                    class="icon-button">
                                    <nb-icon [icon]="showStratumPassword ? 'eye-off-outline' : 'eye-outline'"
                                        pack="eva"></nb-icon>
                                </button>
                            </div>
                        </div>
                        <ng-container *ngIf="form.controls['stratumProtocol'].value === 1">
                            <div class="form-row">
                                <nb-checkbox [checked]="form.controls['sv2ChannelType'].value === 0"
                                    (checkedChange)="form.controls['sv2ChannelType'].setValue(0)">
                                    {{ 'SETTINGS.SV2_CHANNEL_EXTENDED' | translate }}
                                </nb-checkbox>
                            </div>
                            <div class="form-row">
                                <nb-checkbox [checked]="form.controls['sv2ChannelType'].value === 1"
                                    (checkedChange)="form.controls['sv2ChannelType'].setValue(1)">
                                    {{ 'SETTINGS.SV2_CHANNEL_STANDARD' | translate }}
                                </nb-checkbox>
                            </div>
                            <div class="form-row">
                                <label for="sv2AuthorityPubkey" class="form-label">{{ 'SETTINGS.SV2_AUTHORITY_PUBKEY' | translate }}:</label>
                                <div class="form-control-wrapper">
                                    <input nbInput id="sv2AuthorityPubkey" type="text" formControlName="sv2AuthorityPubkey" /><br />
                                    <small>{{ 'SETTINGS.SV2_AUTHORITY_PUBKEY_HINT' | translate }}</small>
                                </div>
                            </div>
                        </ng-container>
                        <div class="form-row" *ngIf="form.controls['stratumProtocol'].value === 0">
                            <nb-checkbox formControlName="stratumTLS">{{ 'MINING.STRATUM_TLS' | translate}}</nb-checkbox>
                        </div>
                        <div class="form-row" *ngIf="form.controls['stratumProtocol'].value === 0">
                            <nb-checkbox formControlName="stratumEnonceSubscribe">{{ 'MINING.ENABLE_EXTRANONCE' |
                                translate
                                }}</nb-checkbox>
                        </div>
                    </nb-card-body>
                </nb-tab>

                <nb-tab
                    [tabTitle]="poolTabHeader(1)">
                    <nb-card-body>
                        <div class="form-row">
                            <label class="form-label">{{ 'SETTINGS.STRATUM_PROTOCOL' | translate }}:</label>
                            <div class="form-control-wrapper">
                                <nb-select formControlName="fallbackStratumProtocol"
                                    [disabled]="form.controls['poolMode'].value === 1">
                                    <nb-option [value]="0">{{ 'SETTINGS.STRATUM_V1' | translate }}</nb-option>
                                    <nb-option [value]="1">{{ 'SETTINGS.STRATUM_V2' | translate }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="fallbackStratumURL" class="form-label">{{ 'SETTINGS.STRATUM_HOST' | translate
                                }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="fallbackStratumURL" type="text"
                                    formControlName="fallbackStratumURL" /><br />
                                <small>{{ 'SETTINGS.STRATUM_HOST_HINT' | translate }}</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="fallbackStratumPort" class="form-label">{{ 'SETTINGS.STRATUM_PORT' | translate
                                }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="fallbackStratumPort" formControlName="fallbackStratumPort"
                                    type="number" />
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="fallbackStratumUser" class="form-label">{{ 'SETTINGS.STRATUM_USER' | translate
                                }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="fallbackStratumUser" formControlName="fallbackStratumUser"
                                    type="text" />
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="fallbackStratumPassword" class="form-label">{{ 'SETTINGS.STRATUM_PASSWORD' |
                                translate }}:</label>
                            <div class="input-with-icon">
                                <input nbInput id="fallbackStratumPassword" formControlName="fallbackStratumPassword"
                                    [type]="showFallbackStratumPassword ? 'text' : 'password'"
                                    placeholder="Enter stratum password" />
                                <button nbButton ghost (click)="toggleFallbackStratumPasswordVisibility()" type="button"
                                    class="icon-button">
                                    <nb-icon [icon]="showFallbackStratumPassword ? 'eye-off-outline' : 'eye-outline'"
                                        pack="eva"></nb-icon>
                                </button>
                            </div>
                        </div>
                        <ng-container *ngIf="form.controls['fallbackStratumProtocol'].value === 1">
                            <div class="form-row">
                                <nb-checkbox [checked]="form.controls['fallbackSv2ChannelType'].value === 0"
                                    (checkedChange)="form.controls['fallbackSv2ChannelType'].setValue(0)">
                                    {{ 'SETTINGS.SV2_CHANNEL_EXTENDED' | translate }}
                                </nb-checkbox>
                            </div>
                            <div class="form-row">
                                <nb-checkbox [checked]="form.controls['fallbackSv2ChannelType'].value === 1"
                                    (checkedChange)="form.controls['fallbackSv2ChannelType'].setValue(1)">
                                    {{ 'SETTINGS.SV2_CHANNEL_STANDARD' | translate }}
                                </nb-checkbox>
                            </div>
                            <div class="form-row">
                                <label for="fallbackSv2AuthorityPubkey" class="form-label">{{ 'SETTINGS.SV2_AUTHORITY_PUBKEY' | translate }}:</label>
                                <div class="form-control-wrapper">
                                    <input nbInput id="fallbackSv2AuthorityPubkey" type="text" formControlName="fallbackSv2AuthorityPubkey" /><br />
                                    <small>{{ 'SETTINGS.SV2_AUTHORITY_PUBKEY_HINT' | translate }}</small>
                                </div>
                            </div>
                        </ng-container>
                        <div class="form-row" *ngIf="form.controls['fallbackStratumProtocol'].value === 0">
                            <nb-checkbox formControlName="fallbackStratumTLS">{{ 'MINING.STRATUM_TLS' | translate}}</nb-checkbox>
                        </div>
                        <div class="form-row" *ngIf="form.controls['fallbackStratumProtocol'].value === 0">
                            <nb-checkbox formControlName="fallbackStratumEnonceSubscribe">{{ 'MINING.ENABLE_EXTRANONCE'
                                |
                                translate }}</nb-checkbox>
                        </div>
                    </nb-card-body>
                </nb-tab>
            </nb-tabset>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <div>{{ 'SETTINGS.MINING_SETTINGS' | translate }}</div>
                    <div><app-advanced-toggle (advancedToggled)="setDevToolsOpen($event)"></app-advanced-toggle></div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ng-container *ngIf="supportLevel === 0">
                    <div class="form-row">
                        <label for="frequency" class="form-label">{{ 'SETTINGS.FREQUENCY' | translate }}:</label>
                        <div class="form-control-wrapper">
                            <nb-select formControlName="frequency" [ngClass]="{'unsafe-setting': isFrequencyTooHigh()}">
                                <nb-option *ngFor="let option of frequencyOptions" [value]="option.value">{{ option.name
                                    }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="coreVoltage" class="form-label">{{ 'SETTINGS.CORE_VOLTAGE' | translate }}:</label>
                        <div class="form-control-wrapper">
                            <nb-select formControlName="coreVoltage" [ngClass]="{'unsafe-setting': isVoltageTooHigh()}">
                                <nb-option *ngFor="let option of voltageOptions" [value]="option.value">{{ option.name
                                    }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="supportLevel >= 1">
                    <div class="form-row">
                        <label for="frequency" class="form-label">{{ 'SETTINGS.FREQUENCY' | translate }}:</label>
                        <div class="form-control-wrapper">
                            <input (input)="checkFrequencyLimit()" [ngClass]="{'unsafe-setting': isFrequencyTooHigh()}"
                                nbInput id="frequency" formControlName="frequency" type="number" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="coreVoltage" class="form-label">{{ 'SETTINGS.CORE_VOLTAGE' | translate }}:</label>
                        <div class="form-control-wrapper">
                            <input (input)="checkVoltageLimit()" [ngClass]="{'unsafe-setting': isVoltageTooHigh()}"
                                nbInput id="coreVoltage" formControlName="coreVoltage" type="number" />
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="supportLevel >= 2">
                    <div class="form-row">
                        <label for="jobInterval" class="form-label">Job Interval:</label>
                        <div class="form-control-wrapper">
                            <input nbInput id="jobInterval" formControlName="jobInterval" type="number" /><br />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-control-wrapper-no-label">
                            <small>Mining job switching time in milliseconds.</small>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="defaultVrFrequency !== undefined">
                        <label for="vrFrequency" class="form-label">VR-Frequency:</label>
                        <div class="form-control-wrapper">
                            <input nbInput id="vrFrequency" formControlName="vrFrequency" type="number" /><br />
                        </div>
                    </div>
                    <div class="form-row" *ngIf="defaultVrFrequency !== undefined">
                        <div class="form-control-wrapper-no-label">
                            <small>
                                Version Rolling
                                Frequency.<!-- (Default <b>{{ defaultVrFrequency | number:'1.3-3' }} Hz</b>).-->
                            </small>
                            <br />
                            <small>
                                Calculated wrap-around time: <b>{{ wrapAroundTime | number:'1.2-2' }} s</b>
                            </small>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="supportLevel >= 1">
                    <div class="form-row">
                        <label for="stratumDifficulty" class="form-label">{{ 'MINING.STRATUM_DIFFICULTY' | translate
                            }}:</label>
                        <div class="form-control-wrapper">
                            <input nbInput id="stratumDifficulty" formControlName="stratumDifficulty"
                                type="number" /><br />
                            <small>{{ 'MINING.STRATUM_DIFFICULTY_HELP' | translate }}</small>
                        </div>
                    </div>
                </ng-container>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>{{ 'FAN.TITLE' | translate }}</nb-card-header>
            <nb-tabset>

                <!-- ── Fan 1 (ASICs) ──────────────────────────────────── -->
                <nb-tab tabTitle="ASICs">
                    <nb-card-body>

                        <!-- Connector hint Fan 1 (only when 2-fan board and unlinked) -->
                        <div *ngIf="fanCount > 1 && form.controls['fan1Mode'].value !== 3 && fanLabels[0]"
                             style="margin: 6px 0 12px; padding: 8px 12px; background: rgba(128,128,128,0.12); border-radius: 6px; font-size: 0.85em;"
                             [innerHTML]="'FAN.FAN1_CONNECTOR_HINT' | translate: { connector: fanLabels[0] }">
                        </div>

                        <div class="form-row">
                            <label class="form-label">{{ 'FAN.CONTROLLER' | translate }}:</label>
                            <div class="form-control-wrapper">
                                <nb-select fullWidth formControlName="autofanspeed">
                                    <nb-option [value]="0">{{ 'FAN.MANUAL' | translate }}</nb-option>
                                    <nb-option *ngIf="form.controls['pidTargetTemp'].value != -1" [value]="2">{{
                                        'SETTINGS.AUTO_FAN' | translate }} (PID)</nb-option>
                                </nb-select>
                            </div>
                        </div>

                        <!-- Manual fan speed slider -->
                        <div *ngIf="form.controls['autofanspeed'].value === 0">
                            <div class="form-row">
                                <label>{{ 'SETTINGS.FAN_SPEED' | translate }} {{ form.controls['manualFanSpeed'].value }}%</label>
                                <div class="form-control-wrapper">
                                    <div class="progress-wrap">
                                        <input type="range" class="progress" formControlName="manualFanSpeed" min="0" max="100" step="1" />
                                        <div class="progress-foreground" [style.width.%]="form.controls['manualFanSpeed'].value"></div>
                                    </div>
                                    <small *ngIf="form.controls['manualFanSpeed'].value < 40"
                                        style="color: red; margin-left:10px;">Danger: Could Cause Overheating</small>
                                    <small *ngIf="form.controls['manualFanSpeed'].value === 100"
                                        style="color: #F2A900; margin-left:10px;">S19 Simulator</small>
                                </div>
                            </div>
                        </div>

                        <!-- PID Fan Control Settings -->
                        <div *ngIf="form.controls['autofanspeed'].value === 2 && form.controls['pidTargetTemp'].value != -1">
                            <div class="form-row">
                                <label class="form-label">{{ 'SETTINGS.TARGET_TEMP' | translate }}:</label>
                                <div class="form-control-wrapper">
                                    <input nbInput type="number" formControlName="pidTargetTemp" />
                                </div>
                            </div>
                            <div *ngIf="supportLevel >= 1" class="form-row-separator" style="font-weight:bold;">PID Parameters:</div>
                            <div *ngIf="supportLevel >= 1">
                                <div class="form-row">
                                    <label class="form-label">PID P:</label>
                                    <div class="form-control-wrapper">
                                        <input nbInput type="number" formControlName="pidP" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="form-label">PID I:</label>
                                    <div class="form-control-wrapper">
                                        <input nbInput type="number" formControlName="pidI" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="form-label">PID D:</label>
                                    <div class="form-control-wrapper">
                                        <input nbInput type="number" formControlName="pidD" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row-separator">
                            <label for="overheat_temp" class="form-label">{{ 'SETTINGS.SHUTDOWN_TEMP' | translate }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="overheat_temp" formControlName="overheat_temp" type="number" />
                            </div>
                        </div>
                        <div class="form-row" *ngIf="supportLevel >= 2">
                            <nb-checkbox formControlName="invertfanpolarity">{{ 'FAN.INVERT_POLARITY' | translate }}</nb-checkbox>
                        </div>
                    </nb-card-body>
                </nb-tab>

                <!-- ── Fan 2 (VReg, nur bei 2-Lüfter-Boards) ─────────── -->
                <nb-tab tabTitle="VReg" *ngIf="fanCount > 1">
                    <nb-card-body>

                        <!-- Linked-Checkbox -->
                        <div class="form-row">
                            <nb-checkbox
                                [checked]="form.controls['fan1Mode'].value === 3"
                                (checkedChange)="form.controls['fan1Mode'].setValue($event ? 3 : 0)">
                                {{ 'FAN.USE_FAN1_SETTINGS' | translate }}
                            </nb-checkbox>
                        </div>

                        <!-- Wenn nicht gelinkt: eigene Einstellungen -->
                        <ng-container *ngIf="form.controls['fan1Mode'].value !== 3">

                            <!-- Connector hint Fan 2 -->
                            <div *ngIf="fanLabels[1]" style="margin: 6px 0 12px; padding: 8px 12px; background: rgba(128,128,128,0.12); border-radius: 6px; font-size: 0.85em;"
                                 [innerHTML]="'FAN.FAN2_CONNECTOR_HINT' | translate: { connector: fanLabels[1] }">
                            </div>

                            <div class="form-row">
                                <label class="form-label">{{ 'FAN.CONTROLLER' | translate }}:</label>
                                <div class="form-control-wrapper">
                                    <nb-select fullWidth formControlName="fan1Mode">
                                        <nb-option [value]="0">{{ 'FAN.MANUAL' | translate }}</nb-option>
                                        <nb-option [value]="2">{{ 'SETTINGS.AUTO_FAN' | translate }} (PID)</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <!-- Manual speed slider -->
                            <div *ngIf="form.controls['fan1Mode'].value === 0">
                                <div class="form-row">
                                    <label>{{ 'SETTINGS.FAN_SPEED' | translate }} {{ form.controls['fan1ManualSpeed'].value }}%</label>
                                    <div class="form-control-wrapper">
                                        <div class="progress-wrap">
                                            <input type="range" class="progress" formControlName="fan1ManualSpeed" min="0" max="100" step="1" />
                                            <div class="progress-foreground" [style.width.%]="form.controls['fan1ManualSpeed'].value"></div>
                                        </div>
                                        <small *ngIf="form.controls['fan1ManualSpeed'].value < 40"
                                            style="color: red; margin-left:10px;">Danger: Could Cause Overheating</small>
                                    </div>
                                </div>
                            </div>

                            <!-- PID settings -->
                            <div *ngIf="form.controls['fan1Mode'].value === 2">
                                <div class="form-row">
                                    <label class="form-label">{{ 'SETTINGS.TARGET_TEMP' | translate }}:</label>
                                    <div class="form-control-wrapper">
                                        <input nbInput type="number" formControlName="fan1PidTargetTemp" />
                                    </div>
                                </div>
                                <div *ngIf="supportLevel >= 1" class="form-row-separator" style="font-weight:bold;">PID Parameters:</div>
                                <div *ngIf="supportLevel >= 1">
                                    <div class="form-row">
                                        <label class="form-label">PID P:</label>
                                        <div class="form-control-wrapper">
                                            <input nbInput type="number" formControlName="fan1PidP" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="form-label">PID I:</label>
                                        <div class="form-control-wrapper">
                                            <input nbInput type="number" formControlName="fan1PidI" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="form-label">PID D:</label>
                                        <div class="form-control-wrapper">
                                            <input nbInput type="number" formControlName="fan1PidD" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ng-container>

                        <div class="form-row-separator">
                            <label for="fan1OverheatTemp" class="form-label">{{ 'SETTINGS.SHUTDOWN_TEMP' | translate }}:</label>
                            <div class="form-control-wrapper">
                                <input nbInput id="fan1OverheatTemp" formControlName="fan1OverheatTemp" type="number" />
                            </div>
                        </div>

                    </nb-card-body>
                </nb-tab>

            </nb-tabset>
        </nb-card>
        <nb-card>
            <nb-card-header>{{ 'MISC.TITLE' | translate }}</nb-card-header>
            <nb-card-body>
                <div class="form-row">
                    <nb-checkbox formControlName="flipscreen">{{ 'MISC.FLIP_SCREEN' | translate }}</nb-checkbox>
                </div>
                <div class="form-row">
                    <nb-checkbox formControlName="autoscreenoff">{{ 'MISC.AUTO_SCREEN_OFF' | translate }}</nb-checkbox>
                </div>
                <div class="form-row">
                    <label class="form-label">{{ 'SETTINGS.TIME_FORMAT' | translate }}:</label>
                    <div class="form-control-wrapper">
                        <nb-select formControlName="timeFormat" placeholder="{{ 'SETTINGS.TIME_FORMAT' | translate }}">
                            <nb-option value="24h">{{ 'SETTINGS.TIME_FORMAT_24H' | translate }}</nb-option>
                            <nb-option value="12h">{{ 'SETTINGS.TIME_FORMAT_12H' | translate }}</nb-option>
                        </nb-select>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <div class="d-flex align-items-center justify-content-between mt-2">
            <div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <button nbButton size="small" [disabled]="form.invalid" (click)="confirmSave(warningDialog)"
                        status="danger">
                        {{ 'COMMON.SAVE' | translate }}
                    </button>
                </div>
            </div>
            <div><button nbButton size="small" (click)="restart()" status="danger">{{
                    'SYSTEM.RESTART' | translate }}</button>
            </div>

        </div>
        <div *ngIf="requiresReboot" class="mt-2 text-danger">
            <b>You must restart this device after saving for changes to take effect.</b>
        </div>
    </form>

    <ng-template #warningDialog>
        <nb-card accent="danger" style="width: 384px">
            <nb-card-header style="color: red;">{{ 'WARNINGS.UNSAFE_SETTINGS' | translate }}</nb-card-header>
            <nb-card-body>
                <p>
                    You are about to save settings that exceed the safe operating limits of your device. Proceeding with
                    these settings may result in:
                </p>
                <ul class="m-0 pl-4">
                    <li><strong>{{ 'WARNINGS.WARRANTY_VOID' | translate }}</strong></li>
                    <li><strong>{{ 'WARNINGS.HARDWARE_DAMAGE' | translate }}</strong></li>
                    <li><strong>{{ 'WARNINGS.SYSTEM_INSTABILITY' | translate }}</strong></li>
                    <li><strong>{{ 'WARNINGS.REDUCED_LIFESPAN' | translate }}</strong></li>
                    <li>{{ 'WARNINGS.UNEXPECTED_REBOOTS' | translate }}</li>
                    <li>{{ 'WARNINGS.OVERHEATING' | translate }}</li>
                    <li>{{ 'WARNINGS.POWER_CONSUMPTION' | translate }}</li>
                    <li>{{ 'WARNINGS.PERFORMANCE_ISSUES' | translate }}</li>
                    <li>⚠️ <strong>MAY SUMMON DRAGONS! 🐉🔥</strong></li>
                </ul><br />

                <p><b>Are you sure you want to proceed?</b></p>
                <p>
                    <nb-checkbox [(ngModel)]="dontShowWarning">
                        Don't show this warning again
                    </nb-checkbox>
                </p>
                <div class="d-flex justify-content-between">
                    <button nbButton status="danger" (click)="saveAfterWarning()">{{ 'WARNINGS.PROCEED_ANYWAY' |
                        translate }}</button>
                    <button nbButton status="basic" (click)="dialogRef?.close()">{{ 'COMMON.CANCEL' | translate
                        }}</button>
                </div>
            </nb-card-body>
        </nb-card>
    </ng-template>





</ng-container>
